@model IEnumerable<Customer.Web.Data.Entities.CustomerDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul class="list-unstyled row">
            @foreach (var customer in Model)
            {
                <li>
                    <div class="col-xs-3">@customer.FirstName</div>
                    <div class="col-xs-3">@customer.LastName</div>
                    <div class="col-xs-3">@customer.Email</div>
                    <div class="col-xs-3">
                        <a asp-action="Update" asp-route-id="Id">Update</a>
                        <a asp-action="Delete" asp="">Delete</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>


