<div class="margin-top-10">
    <table id="grid"></table>
</div>

<div id="dialog" class="gj-display-none">
    <div data-role="body">
        <input type="hidden" id="Id" />
        <div class="form-row">
            <input type="text" class="gj-textbox-md" id="FirstName" placeholder="First Name..."/>
        </div>
        <div class="form-row">
            <input type="text" class="gj-textbox-md" id="LastName" placeholder="Last Name..."/>
        </div>
        <div class="form-row">
            <input type="text" class="gj-textbox-md" id="Email" placeholder="Email..." />
        </div>
    </div>
    <div data-role="footer">
        <button type="button" id="btnUpdate" class="gj-button-md">Save</button>
        <button type="button" id="btnCancel" class="gj-button-md">Cancel</button>
    </div>
</div>